In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [ ]:
df = pd.read_csv('raw_data.csv')

In [4]:
df

,GENDER,Race/ETHNICITY,parental level of education,lunch,test preparation course,math score,reading score,WRITINGscore
0,female,group B,bachelor's degree,standard,0,89,72,74
1,female,group C,some college,standard,COMPLETED,69,90,88
2,female,group B,master's degree,standard,NaN,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,NaN,77,86,86